body {
  box-sizing: border-box;
  margin: 5em auto;
  max-width: 1100px;
  box-shadow: 0 0 8px 6px #0000005e;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  background-color: #eceff1;
  display: flex;
  min-height: 70vh;
}

nav {
  width: 150px;
  height: 250px;

  box-shadow: 0 0 1px 1px black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 10px;
  margin: 100px 25px;

  background-color: rgba(211, 28, 28, 0.73);
}

.navLink {
  display: block;
  text-decoration: none;

  color: white;
  background-color: rgba(37, 30, 30, 0.664);

  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.navLink:hover {
  background-color: rgba(211, 28, 28, 0.76);
  box-shadow: 0 0 3px 1px;
}

button {
  font-family: sans-serif;
  font-size: 1em;

  padding: 3px 10px;
  margin: 10px 0 0 25px;
  border: 2px solid rgba(37, 30, 30, 0.664);
  width: 150px;

  background-color: rgba(211, 28, 28, 0.76);
  color: #fefefe;
  box-shadow: 0 0 3px 1px black;

  outline: none;
  cursor: pointer;
}

nav > button {
  margin-left: 5px;
  border: none;
  width: auto;
  font-size: 1em;
}

button:focus {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.781);
}

button:hover {
  background-color: rgba(238, 20, 20, 0.932);
}

button:active {
  box-shadow: inset 0 0 3px 1px black;
}

.wrapper {
  min-width: 220px;
  background: #e8eaf6;
  border-right: 1px solid;
}

article {
  flex-grow: 1;
  text-align: center;
}

.active {
  border: 1px solid;
  box-shadow: inset 0 0 5px #e8d70b;
}

.user {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  cursor: pointer;

  padding: 10px;
  border: 2px solid transparent;
  border-left: none;
}

.user:nth-child(2n) {
  background-color: #e3e3e380;
}

.user:hover {
  border: 2px solid black;
  border-left: none;
  box-shadow: inset 0px -1px 4px 1px #ce4a43;
}

.userLink {
  text-decoration: none;
  color: black;
}

.user__name {
  font-size: 2em;
  flex-basis: 25%;
}

.user__picture {
  width: 100px;
  height: 100px;
  background-color: white;
}

form {
  padding: 10px;
}

input {
  font-family: sans-serif;

  outline: none;
  border: none;
  padding: 7px 10px;

  color: black;
  background-color: #5a343438;
  box-shadow: inset 0px 0px 1px 3px #a82020db;
}

.loading {
  font-size: 2em;
  color: #a82020db;
  text-shadow: 0 0 2px;
}

.profile {
  font-size: 2em;
}

.profileLink {
  color: #d84d50;
}

@media (max-width: 425px) {
  .wrapper {
    font-size: 0.75em;
    min-width: auto;
    flex-basis: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100px;
    margin: 0;
    padding: 0 5px 0 3px;
  }

  nav > .navLink {
    margin: 0;
  }

  .wrapper > button {
    margin: 5em 0;
    padding: 0;
    width: 100px;
  }

  article {
    font-size: 0.7em;
    flex-basis: 65%;
  }
  .profile {
    font-size: 1.5em;
  }

  .user {
    padding: 0;
  }

  .user__name {
    font-size: 1.5em;
  }

  .user__picture {
    max-width: 50px;
    max-height: 50px;
  }
}
